<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working !</title>
</head>
<body>
    <h1>Template is now Active!</h1><br>
    <h2>This is text analyzer, Enter the text below</h2>
    <form action='analyze' method='get'>
        <textarea name='text' style='margin: 0px; width: 721px; height:93px;''></textarea><br>
        <input type="checkbox" name="check">Remove punctuation<br>
        <input type="checkbox" name="case">UPPER CASE<br>
        <button type="submit">Analye Text</button>
    </form>
</body>
</html>